body {
    overflow: hidden;
}

.row {
    margin: 0;

    > div {
        padding: 0;
        margin: 0;

        &:first-child {
            padding-right: 12px;
        }
    }
}

.view-container {
    width: 100%;
    height: 100%;

    .editor-view {
        position: fixed;
        overflow: scroll;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 150px;
        top: 0;
        left: 250px;
        width: calc(~'100% - 250px');
        display: inline-block;

        @media only screen and (max-device-width: 768px) {
            left: 0;
            width: 100%;
        }

        .markdown {
            .editable {
                display: flex;
                .code-editor {
                    width: 50%;
                    display: inline-block;

                    .CodeMirror {
                        height: auto !important;
                    }
                }

                .preview {
                    width: 50%;
                    padding: 12px;
                    display: inline-block;
                }
            }

            .readonly {
                .preview {
                    max-width: 800px;
                    width: 100%;
                }
            }
        }

        .col-md-1 {
            cursor: pointer;
        }

        .running {
            background: #b3e5fc;
        }

        .row.code-box {
            padding: 12px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            &.chart {
                overflow: scroll;
                background: #e0f2f1 !important;

                canvas {
                    margin: 0 8px;
                }
            }

            &.output {
                background: #e0f2f1 !important;

                .scroll .output-messages {
                    max-height: 150px !important;
                    width: 100%;
                }

                pre {
                    margin: 0;
                }
            }

            &.active {
                padding: 12px 4px;
                background: rgba(0, 0, 0, .05);
                border-left: 4px solid #2196f3;
            }

            .scroll {
                .CodeMirror {
                    height: 400px;
                }
            }

            > div:nth-child(2) {
                padding-left: 12px;
                border-left: 1px solid rgba(0, 0, 0, .1);

                @media only screen and (max-device-width: 768px) {
                    padding-left: 0;
                    border: none;
                }
            }
        }

        .loop {
            .row {
                padding-top: 8px;

                &:first-child {
                    padding-top: 0;
                }
            }
        }

        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }

        .panel {
            height: 500px;
            background: #27292c;
            padding: 20px;
            overflow-y: scroll;

            .action {
                margin-bottom: 10px;

                .command {
                    width: 100%;
                    height: 20px;
                    background: #27292c;
                    color: #c86762;
                    font-size: 16px;
                    font-weight: 700;
                }

                span.in {
                    width: 90%;
                    background: #27292c;
                    border: none;
                    outline: none;
                    color: white;
                    margin-left: 5px;
                    font-size: 16px;
                }

                .output {
                    color: white;
                    font-weight: 300;
                }
            }
        }

        .code-container {
            @media only screen and (max-device-width: 768px) {
                margin: 0 !important;
            }
        }
    }
}

table.table.table-hover.remote-table {
    input.remote-input {
        width: 100%;
        outline: none;
    }

    td, th {
        &:nth-child(1) {
            width: 240px;
        }

        &:nth-child(2) {
            width: 120px;
        }

        &:nth-child(3) {
            width: 120px;
        }

        &:nth-child(4) {
            text-align: center;
            width: 80px;
        }

        &:nth-child(6) {
            text-align: right;
            width: 200px;
        }
    }
}
