// Meta Information
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

// Application Title
title Saturn

// Import Library(JS)
script(src="{$ROOT}/libs/jquery/dist/jquery.min.js", requirejs="$ jQuery")

script(src="{$ROOT}/libs/angular/angular.min.js")
script(src="{$ROOT}/libs/angular-route/angular-route.min.js")
script(src="{$ROOT}/libs/angular-animate/angular-animate.min.js")
script(src="{$ROOT}/libs/angular-aria/angular-aria.min.js")
script(src="{$ROOT}/libs/angular-messages/angular-messages.min.js")

link(rel="stylesheet", href="{$ROOT}/libs/tether/dist/css/tether.min.css")
script(src="{$ROOT}/libs/tether/dist/js/tether.min.js")

link(rel="stylesheet", href="{$ROOT}/libs/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="{$ROOT}/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="{$ROOT}/libs/bootstrap/dist/js/bootstrap.min.js")

// Import Custom Library(JS)
script(src="{$ROOT}/components/js/angular.js")
script(src="{$ROOT}/components/js/prototype.js")

// Import Custom Library(CSS)
link(rel="stylesheet", href="{$ROOT}/components/css/custom.css")