// Meta Information
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(property='og:image', content='/images/saturn-ico.png')

// Application Title
title Saturn

// Import Library(JS)
script(src="{$ROOT}/libs/jquery/dist/jquery.min.js", requirejs="$ jQuery")

script(src="{$ROOT}/libs/angular/angular.min.js")
script(src="{$ROOT}/libs/angular-route/angular-route.min.js")
script(src="{$ROOT}/libs/angular-animate/angular-animate.min.js")
script(src="{$ROOT}/libs/angular-aria/angular-aria.min.js")
script(src="{$ROOT}/libs/angular-messages/angular-messages.min.js")
script(src="{$ROOT}/libs/angular-sanitize/angular-sanitize.min.js")
script(src="{$ROOT}/libs/ng-context-menu/dist/ng-context-menu.min.js")

// jQuery ContextMenu
link(rel="stylesheet", href="{$ROOT}/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.css")
script(src="{$ROOT}/libs/jQuery-contextMenu/dist/jquery.ui.position.min.js")
script(src="{$ROOT}/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.js")

// for bootstrap 4
link(rel="stylesheet", href="{$ROOT}/libs/tether/dist/css/tether.min.css")
script(src="{$ROOT}/libs/tether/dist/js/tether.min.js")

// font awesome
link(rel="stylesheet", href="{$ROOT}/libs/font-awesome/css/font-awesome.min.css")

// bootstrap 4
link(rel="stylesheet", href="{$ROOT}/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="{$ROOT}/libs/bootstrap/dist/js/bootstrap.min.js")

// chartjs
script(src="{$ROOT}/libs/chart.js/dist/Chart.min.js")

// visjs
link(rel="stylesheet", href="{$ROOT}/libs/vis/dist/vis.min.css")
script(src="{$ROOT}/libs/vis/dist/vis.min.js")

// Import Custom Library(JS)
script(src="{$ROOT}/components/js/angular.js")
script(src="{$ROOT}/components/js/api.js")
script(src="{$ROOT}/components/js/prototype.js")
script(src="{$ROOT}/components/js/socket.io.js")

// Import Custom Library(CSS)
link(rel="stylesheet", href="{$ROOT}/components/css/custom.css")
link(rel="stylesheet", href="{$ROOT}/components/css/hack/css/hack-extended.min.css")