#create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='create', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title New File
            .modal-body
                form
                    .form-group
                        label.form-control-label Type
                        select.form-control(ng-model='status.finder.createType')
                            option(value='project') Project
                            option(value='folder') Folder
                            option(value='js') Javascript
                            option(value='html') HTML
                            option(value='jade') Jade
                            option(value='css') CSS
                            option(value='less') Less
                    .form-group
                        label.form-control-label File or Folder Name:
                        input.form-control(type='text', ng-model='status.finder.createName')
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                | &nbsp;
                button.btn.btn-primary(type='button', ng-click='click.finder.create()') Create

#upload.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Upload Files
            .modal-body
                .form-group
                    label.form-control-label Select File or exported `*.satbook` project
                    input.form-control(type='file', multiple)
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                | &nbsp;
                button.btn.btn-primary(type='button', ng-click='click.finder.upload()') Upload

#rename.modal.fade(tabindex='-1', role='dialog', aria-labelledby='create', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title New File
            .modal-body
                form
                    .form-group
                        label.form-control-label Rename
                        input.form-control(type='text', ng-model='status.finder.node.rename')
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                | &nbsp;
                button.btn.btn-primary(type='button', ng-click='click.finder.rename(status.finder.node)') Rename

#alert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='alert', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Alert
            .modal-body
                p {{alert.message}}
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
