doctype html
html(ng-app="app")
    head
        include components/jade/header

        script(src="{$ROOT}/components/js/finderjs/finder.min.js")
        script(src="{$ROOT}/components/js/finderjs/jquery.finder.js")
        link(rel="stylesheet", href="{$ROOT}/components/css/finder.css")

        script(src="{$ROOT}/view/js/index.js")
        link(rel="stylesheet", href="{$ROOT}/view/css/index.css")

    body(ng-controller='ctrl', ng-drop='event.upload', ng-show='preLoading === false')
        .on-dragging
            h2 Drag & Drop Here!
        .container.top-menu
            include ./components/jade/navbar

            .toolbar(ng-cloak)
                .container-fulid(ng-if="ACCESS_STATUS !== 'GRANTALL'") READ ONLY
                .container-fulid(ng-if="ACCESS_STATUS === 'GRANTALL'")
                    button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#create')
                        i.fa.fa-plus-square
                    button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#upload')
                        i.fa.fa-upload
                    button.btn.btn-default.btn-sm(ng-click='click.delete()')
                        i.fa.fa-trash

        .container-fulid.finder-container
            #finder

        include ./components/jade/modal

        #create-in-dir.modal.fade(tabindex='-1', role='dialog', aria-labelledby='create', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title New File
                    .modal-body
                        form
                            .form-group
                                label.form-control-label Selected Directory
                                input.form-control(type='text', ng-model='status.finder.selectedDir', disabled=true)
                            .form-group
                                label.form-control-label Type
                                select.form-control(ng-model='status.finder.createType')
                                    option(value='project') Project
                                    option(value='folder') Folder
                                    option(value='js') Javascript
                                    option(value='py') Python
                                    option(value='html') HTML
                                    option(value='jade') Jade
                                    option(value='css') CSS
                                    option(value='less') Less
                            .form-group
                                label.form-control-label File or Folder Name:
                                input.form-control(type='text', ng-model='status.finder.createName')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        | &nbsp;
                        button.btn.btn-primary(type='button', ng-click='click.finder.create(status.finder.selectedDir)') Create