doctype html
html(ng-app="app")
    head
        include components/jade/header

        script(src="{$ROOT}/components/js/codemirror/codemirror.js")
        script(src="{$ROOT}/components/js/codemirror/mode/javascript/javascript.js")
        link(rel="stylesheet", href="{$ROOT}/components/css/codemirror/codemirror.css")

        script(src="{$ROOT}/view/js/index.js")
        link(rel="stylesheet", href="{$ROOT}/view/css/index.css")

    body(ng-controller='ctrl')
        .container
            nav.navbar.navbar-fixed-top.navbar-light.bg-faded
                .container
                    a.navbar-brand
                        i.fa.fa-paper-plane
                        | &nbsp;&nbsp;Saturn

            .toolbar
                .container
                    button.btn.btn-default.btn-sm(ng-click='click.checkall()')
                        i.fa.fa-check-square-o
                    button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#add')
                        i.fa.fa-file-text
                    button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#create')
                        i.fa.fa-plus-square
                    button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#upload')
                        i.fa.fa-upload
                    button.btn.btn-default.btn-sm(ng-click='click.delete()')
                        i.fa.fa-trash
        .container
            table.table.table-hover
                tbody
                    tr(ng-repeat='file in current')
                        td(ng-cloak)
                            input(type='checkbox', ng-model='file.checked', ng-checked='file.checked', ng-if='file.type != "upper"')
                            i.fa.fa-code-fork(ng-if='file.type == "project"')
                            i.fa.fa-folder-open(ng-if='file.type == "folder"')
                            i.fa.fa-file(ng-if='file.type == "file"')
                            div(style='display:inline-block; width: 80%;', ng-click='click.list(file)')
                                | {{file.name}}
                                span(ng-if='file.status', style='color: #8bc34a; margin-left: 8px;') [Running]

        .modal.fade#alert(tabindex='-1', role='dialog', aria-labelledby='alert', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Alert
                    .modal-body
                        p {{alert.message}}
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

        #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title New Project
                    .modal-body
                        form
                            .form-group
                                label.form-control-label Project Name:
                                input.form-control(type='text', ng-model='addName')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        | &nbsp;
                        button.btn.btn-primary(type='button', ng-click='click.add()') Create

        #create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='create', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title New File
                    .modal-body
                        form
                            .form-group
                                label.form-control-label Type
                                select.form-control(ng-model='createType')
                                    option(value='folder') Folder
                                    option(value='js') Javascript
                            .form-group
                                label.form-control-label File or Folder Name:
                                input.form-control(type='text', ng-model='createName')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        | &nbsp;
                        button.btn.btn-primary(type='button', ng-click='click.create()') Create

        #upload.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Upload Files
                    table.table.table-hover
                        tbody
                            tr(ng-repeat='file in fu_current')
                                td(ng-cloak)
                                    input(type='checkbox', ng-model='file.checked', ng-checked='file.checked', ng-if='file.type != "upper"')
                                    i.fa.fa-folder-open(ng-if='file.type == "folder"')
                                    i.fa.fa-file(ng-if='file.type == "file"')
                                    div(style='display:inline-block; width: 80%;', ng-click='click.fileList(file)')
                                        | {{file.name}}
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        | &nbsp;
                        button.btn.btn-primary(type='button', ng-click='click.upload()') Upload
