doctype html
html(ng-app="app")
    head
        include components/jade/header

        script(src="{$ROOT}/components/js/codemirror/codemirror.js")
        script(src="{$ROOT}/components/js/codemirror/mode/javascript/javascript.js")

        // fold code
        script(src='{$ROOT}/components/js/codemirror/addon/fold/foldcode.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/foldgutter.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/brace-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/xml-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/markdown-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/comment-fold.js')

        link(rel="stylesheet", href="{$ROOT}/components/css/codemirror/codemirror.css")
        link(rel="stylesheet", href="{$ROOT}/components/js/codemirror/addon/fold/foldgutter.css")

        script(src="{$ROOT}/view/js/project.js")
        link(rel="stylesheet", href="{$ROOT}/view/css/project.css")

    body(ng-controller='ctrl')
        // component: nav
        .container-fluid.top-menu
            nav.navbar.navbar-fixed-top.navbar-light.bg-faded
                .container-fluid(ng-cloak)
                    a.navbar-brand(ng-click='titleEdit = true')
                        img(src='/images/saturn-ico.png', width='30', height='30', alt='')
                        span(ng-if='!titleEdit') &nbsp;Saturn: {{app}}
                        input(type='text', ng-if='titleEdit', ng-model='appRename', ng-enter='click.editTitle(appRename)')
                    ul.nav.navbar-nav
                        li.nav-item
                            a.nav-link(ng-href='{{ROOT_PATH}}') List

            .toolbar(ng-cloak)
                .container-fluid
                    button.btn.btn-default.btn-sm.only-mobile(ng-click='click.list()', ng-cloak, ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-list
                    button.btn.btn-default.btn-sm(ng-click='click.run()', ng-cloak, ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-play(ng-if='status.running != "running"')
                        i.fa.fa-stop(ng-if='status.running == "running"')
                    button.btn.btn-default.btn-sm(ng-click='click.clean()', ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-eraser
                    button.btn.btn-default.btn-sm(ng-click='click.save()', ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-floppy-o
                    button.btn.btn-default.btn-sm(ng-click='click.add()', ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-plus-square
                    button.btn.btn-default.btn-sm(ng-click='click.remove()', ng-if='ACCESS_STATUS === "GRANTALL"')
                        i.fa.fa-minus-circle
                    button.btn.btn-default.btn-sm(ng-click='click.export()')
                        i.fa.fa-book
                    button.btn.btn-default.btn-sm(ng-click='click.exportRun()')
                        i.fa.fa-rocket
                    .save-time(style='float: right; font-size: 14px;') {{status.lastSaved}}

        // component: view
        .view-container
            // component: file browse
            .finder-view
                div(data-angular-treeview='true', data-on-select='click.finderList', data-tree-model='finder', data-node-id='id', data-node-label='title', data-node-children='narrower')

            // component: code editor
            .editor-view(ng-cloak)
                // component: lib code editor
                .code-container(ng-cloak, ng-class='status.singleFocused == "libs" && status.running == "running" ? "running": ""')
                    .row.code-box(ng-click='click.codebox(-1)', ng-class='status.focused == -1 ? "active":""')
                        .col-md-1
                            b(ng-click='inputLong.lib = !inputLong.lib') in [libs]
                        .col-md-11(ng-class='inputLong.lib ? "scroll" : ""')
                            .code-editor#code-editor-libs

                    .row.code-box.output(ng-if='singleLog.libs && singleLog.libs.length > 0', ng-class='status.focused == -1 ? "active":""')
                        .col-md-1(ng-click='outputLong.lib = !outputLong.lib')
                            b out [libs] &nbsp;
                        .col-md-11(ng-class='outputLong.lib ? "" : "scroll"')
                            .output-messages
                                div(ng-repeat='log in singleLog.libs track by $index', ng-class='log.status', ng-show='outputLong.lib || $index >= singleLog.libs.length - 5')
                                    pre(ng-if='log.status == "data" || log.status == "error"', ng-bind-html='log.message')

                    .row.code-box.chart(ng-if='chartLog.libs' style='width: 100%; text-align: center; min-height: 0;', ng-class='status.focused == -1 ? "active":""')
                        div(ng-repeat='chart in chartLog.libs', style='display: inline-block;')
                            div(id='chart-libs-{{chart.id}}', style='display: inline-block !important; width: {{chart.data.width}}; height: {{chart.data.height}}', ng-if='chart.graph=="vis"')
                            canvas(id='chart-libs-{{chart.id}}', width='{{chart.data.width}}', height='{{chart.data.height}}', style='display: inline-block !important;', ng-if='chart.graph=="chart"')

                // component: additional code editor
                .code-container(ng-repeat='code in flowpipe track by $index', style='margin-left: {{status.indent[$index]*48}}px;', ng-cloak, ng-class='status.singleFocused == $index && status.running == "running" ? "running": ""')
                    .row.code-box(ng-click='click.codebox($index)', ng-class='status.focused == $index ? "active":""')
                        .col-md-1
                            b(ng-click='inputLong[$index] = !inputLong[$index]') in [{{$index}}] &nbsp;
                            select(ng-model='code.type', ng-change='event.changed()', ng-disabled='code.value != ""')
                                option(value='work') work
                                option(value='loop') loop
                        .col-md-11(ng-class='inputLong[$index] ? "scroll" : ""')
                            // component: if loop
                            .loop(ng-if='code.type == "loop"')
                                .row
                                    .col-md-10
                                        .code-editor(id='code-editor-{{code.id}}')
                                    .col-md-2(style='text-align: right;')
                                        | end &nbsp;
                                        select(ng-model='code.block_end', ng-change='event.changed()')
                                            option(ng-repeat='works in loogwork[$index]', value='{{works}}') {{works}}
                            // component: if work
                            .work(ng-if='code.type == "work"')
                                .code-editor(id='code-editor-{{code.id}}')

                    .row.code-box.output(ng-if='singleLog[$index] && singleLog[$index].length > 0', ng-class='status.focused == $index ? "active":""')
                        .col-md-1(ng-click='outputLong[$index] = !outputLong[$index]')
                            b out [{{$index}}] &nbsp;
                        .col-md-11(ng-class='outputLong[$index] ? "" : "scroll"')
                            .output-messages
                                div(ng-repeat='log in singleLog[$index] track by $index', ng-class='log.status', ng-show='outputLong[$parent.$index] || $index >= singleLog[$parent.$index].length - 5')
                                    pre(ng-if='log.status == "data" || log.status == "error"', ng-bind-html='log.message')

                    .row.code-box.chart(ng-if='chartLog[$index]', style='width: 100%; text-align: center;', ng-class='status.focused == $index ? "active":""')
                        div(ng-repeat='chart in chartLog[$index]', id='chart-{{$parent.$parent.$index}}-{{chart.id}}', style='display: inline-block !important; width: {{chart.data.width}}; height: {{chart.data.height}}', ng-if='chart.graph=="vis"')
                        canvas(ng-repeat='chart in chartLog[$index]', id='chart-{{$parent.$parent.$index}}-{{chart.id}}', style='display: inline-block !important;', ng-if='chart.graph=="chart"')


        // component: dialogs
        include components/jade/modal