doctype html
html(ng-app="app")
    head
        include components/jade/header

        script(src="{$ROOT}/components/js/codemirror/codemirror.js")
        script(src="{$ROOT}/components/js/codemirror/mode/javascript/javascript.js")

        // fold code
        script(src='{$ROOT}/components/js/codemirror/addon/fold/foldcode.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/foldgutter.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/brace-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/xml-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/markdown-fold.js')
        script(src='{$ROOT}/components/js/codemirror/addon/fold/comment-fold.js')

        link(rel="stylesheet", href="{$ROOT}/components/css/codemirror/codemirror.css")
        link(rel="stylesheet", href="{$ROOT}/components/js/codemirror/addon/fold/foldgutter.css")

        script(src="{$ROOT}/view/js/viewer.js")
        link(rel="stylesheet", href="{$ROOT}/view/css/viewer.css")

    body(ng-controller='ctrl')
        .container-fluid.top-menu
            nav.navbar.navbar-fixed-top.navbar-light.bg-faded
                .container-fluid(ng-cloak)
                    a.navbar-brand
                        img(src='/images/saturn-ico.png', width='30', height='30', alt='')
                        | &nbsp;Saturn: {{file}}
                    ul.nav.navbar-nav
                        li.nav-item
                            a.nav-link(ng-href='{{ROOT_PATH}}') List

            .toolbar(ng-cloak)
                .container-fluid(ng-if="ACCESS_STATUS !== 'GRANTALL'") READ ONLY
                .container-fluid(ng-if="ACCESS_STATUS === 'GRANTALL'")
                    button.btn.btn-default.btn-sm(ng-click='click.save()')
                        i.fa.fa-floppy-o
                    .save-time(style='float: right; font-size: 14px;') {{status.lastSaved}}

        .view-container
            .finder-view
                div(data-angular-treeview='true', data-on-select='click.finderList', data-tree-model='finder', data-node-id='id', data-node-label='title', data-node-children='narrower')
            .editor-view
                .code-editor(id='code-editor')

        include components/jade/modal
